.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  height: 170px; 
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	text-align: center;
	justify-content: baseline;
	&__copyright {
		font-size: 0.7rem;
		margin-top: 1rem;
		&--link {
			color: #939597;
			text-decoration: none;
			font-style: italic;
			&:hover {
				text-decoration: underline #f5df4d;
			}
		}
	}
	&__credits {
		font-size: 1rem;
		padding: 8px;
		color: #939597;
		font-weight: normal;
		@media all and (max-width: 400px) {
			font-size: 0.8rem;
		}

		&--author {
			font-weight: bolder;
			color: #939597;
			&:hover {
				color: #939597;
				text-decoration: underline overline wavy #f5df4d;
			}
		}
	}
	&__link {
		text-decoration: none !important;
	}
	.fa {
		padding: 0 4px;
		color: #f5df4d;
		text-shadow: 0.5px 0.5px 0.7px #939597;

		&:hover {
			color: #939597;
		}
		&:active {
			color: #f5df4d;
			text-shadow: -0.5px -0.5px 0.7px #939597;
		}
	}
}
.ssmm-size {
	font-size: 1.5rem;
}
