.footer {
	// width: 180px;
	// height: 67px;
	// position: relative;
	// bottom: 0;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	align-items: center;
	justify-content: baseline;
	&__copyright {
		padding: 8px;
		color: #939597;
		font-size: 12px;
		font-weight: normal;
		text-align: center;
		@media all and (max-width: 400px) {
			font-size: 11px;
		}

		&--author {
			font-weight: bolder;
			text-decoration: none;
			color: #939597;

			&:hover {
				cursor: pointer;
				text-shadow: none;
				color: #939597;
				text-decoration: underline overline wavy #f5df4d;
			}
		}
	}
	.fa {
		padding: 0 4px;
		color: #f5df4d;
		&:hover {
			color: #939597;
			-webkit-text-stroke: 0;
		}
		&:active {
			color: #f5df4d;
			-webkit-text-stroke: 0.35px #646464;
		}
	}
	.link {
		text-decoration: none !important;
	}
}
