.task {
	&__checkbox {
		margin: 16px 12px 0 6px;
		-webkit-appearance: none;
		background-color: #fafafa;
		border: 1px solid #cacece;
		padding: 9px;
		border-radius: 3px;
		display: inline-block;
		position: relative;

		&:checked {
			background-color: #e9ecee;
			border: 1px solid #a3aeb6;
			color: #99a1a7;
		}
		&:checked:after {
			content: '\2714';
			font-size: 1.6rem;
			position: absolute;
			top: -11px;
			left: -1.5px;
			color: #b55dd7;
		}
    &:focus {
      outline: none;
    }
	}
}
